@import url(_reset.css);
@import url(_variaveis.css);

body {

    font-family: var(--tipografia);
    font-size: 1rem;
    font-weight: var(--peso-texto-corrido);
    color: var(--cor-texto-corrido);
    line-height: 1.5rem;

}

.container {

    max-width: 1440px;
    margin: auto;
    background-color: var(--cor-fundo);
}

.tiulo {


    color: var(--cor-titulo);
    font-size: var(--tamanho-titulo);
    line-height: 1.75rem;
    padding-bottom: 0.5rem ;
}

.titulo-destaque {

    font-size: var(--tamanho-texto-destaque);
    font-weight: var(--peso-destaque);
    color: var(--cor-texto-destaque);
    line-height: 4.5rem;
    padding-bottom: 0.75rem;

}