.cabecalho {
    height: 407px;
    display: flex;
    flex-direction: column;
    padding: 6rem 0rem;
    text-align: center;
    justify-content: space-evenly;

}

.content {

    font-size: var( --tamanho-texto-corrido);
    font-weight: var(--peso-destaque);
    color: var(--cor-texto-destaque);
}
.content-destaque{  

    font-size: 3rem;
    color:var(--cor-titulo);
    display: block;
    line-height: var(--tamanho-texto-destaque);
}
